* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    background: #FCF5ED;
    background-color: white;
}


p {
    color: #1F1717;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    background: #FCF5ED;
    z-index: 10;
    justify-content: space-around;
    border-bottom: 0.7px solid #1f17179b;
}


.title a {
    color: black;
    font-weight: bold;
}

.right-nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.hero>p {
    font-weight: 500;
    font-size: 13px;
    margin-top: 8px;
}

h1 {
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    background: #F4BF96;
}

span {
    display: block;
    font-weight: 500;
}

.myButton {
    background-color: #872341;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #741e38;
}

.myButton:active {
    position: relative;
    scale: 0.95;
}

#copyButton {
    background-color: rgba(0, 0, 0, 0.183);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#copyButton:active {
    position: relative;
    scale: 0.95;
}